.primaryColor {
  background-color: #192a56;
  color: white;
}
.listadoHoteles__hoteles {
  margin: 5px 0;
  border: none;
}
.card-body {
  background-color: #192a5612;
  border-radius: 5px;
}
.footer {
  margin-top: 20px;
}
.footer__enlace {
  color: white;
}
.footer__enlace:hover {
  color: yellow;
}
.direccion__icons {
  padding-right: 10px;
}
.containerTabs {
  padding-top: 10px;
}
.imageFlex {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.imgCarousel {
  object-fit: cover;
  height: 300px;
}
