$colorPrimary : #192a56;
$colorCards : #192a5612;
$colorLinks : white;
$colorLinksHover : yellow;
$colorAmarillo : yellow;
$colorRojo : red;
$colorVerde : green;


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


.primaryColor{
    background-color: $colorPrimary;
    color: $colorLinks;
}

.listadoHoteles__hoteles{
    margin: 5px 0;
    border:none;
}
.card-body{
    background-color: $colorCards;
    border-radius: 5px;
}
.footer{
    @include margenes(20px, 0px)
}
.footer__enlace{
    color: $colorLinks;
}
.footer__enlace:hover{
    color: $colorLinksHover;
}

.direccion__icons{
    padding-right: 10px;
}
.containerTabs{
    padding-top: 10px;
}

.imageFlex{
    height: 70vh;   
    width: 100%;
    object-fit: cover; 
}
.imgCarousel{
    object-fit: cover; 
    height: 300px;
}
